.quemSomos{
    background-image: url('/php/Img/img-sobre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
}
.divSobre{
    margin-top: 5%;
}