.servicos{
    margin-top: 8vh; 
    height: 700px; /* Nao funciona */
    
}

@media only screen and (max-width: 550px){
  .servicos {
      margin-top: 10vh;
      padding-bottom: 10vh;
      height: 700px;/* Aqui funciona */
    
  }
}