body{
    background-color: #eee;
    padding-bottom: 0;
    position: relative;
}

nav{
    background-color: rgba(0, 37, 154, 0.8);
}

.hvr-underline-from-center:before{
    background: #ffffff;
}
#footerGeral {
    /* margin-bottom: -25%s; */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home{
    background-image: url('/php/Img/img-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.icones{
    height: 5vh;
}

.linksNav{
    font-size: 1.5rem !important;
    font-weight: 400;
}

.btnVoltar{
    height: 85px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}
